**Análise de Loja de Vendas**

O dataset a seguir é fictício. 
Servirá para um mini-projeto de análise de dados

**Importando bibliotecas**

In [9]:
import pandas as pd

df = pd.DataFrame({
    'produto': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C'],
    'categoria': ['Eletrônico', 'Eletrônico', 'Eletrônico',
                  'Roupas', 'Roupas', 'Roupas',
                  'Comida', 'Comida', 'Comida'],
    'vendas': [1200, 800, 500, 900, 200, 300, 3000, 1500, 1000],
    'lucro': [300, 150, 90, 250, 40, 70, 800, 350, 200]
})

**Visualização de dados iniciais**

In [13]:
df.head()

  produto   categoria  vendas  lucro
0       A  Eletrônico    1200    300
1       B  Eletrônico     800    150
2       C  Eletrônico     500     90
3       A      Roupas     900    250
4       B      Roupas     200     40

In [33]:
df.tail()

  produto categoria  vendas  lucro
4       B    Roupas     200     40
5       C    Roupas     300     70
6       A    Comida    3000    800
7       B    Comida    1500    350
8       C    Comida    1000    200

In [44]:
## df.rename(columns={'produto

df.columns
df = df.rename(columns={'produto': 'Produto', 
                        'categoria': 'Categoria',
                        'vendas': 'Vendas',
                        'lucro': 'Lucro'})

In [50]:
# Categorias que ocorreram vendas acima de R$ 1.000,00
df.loc[df['Vendas'] > 1000]

  Produto   Categoria  Vendas  Lucro
0       A  Eletrônico    1200    300
6       A      Comida    3000    800
7       B      Comida    1500    350

In [56]:
# Verificar apenas produtos + vendas + lucro
df.loc[:, ['Produto', 'Vendas', 'Lucro']]

  Produto  Vendas  Lucro
0       A    1200    300
1       B     800    150
2       C     500     90
3       A     900    250
4       B     200     40
5       C     300     70
6       A    3000    800
7       B    1500    350
8       C    1000    200

In [60]:
# Verificar o somatório de vendas por categoria
df.groupby('Categoria')['Vendas'].sum()

Categoria
Comida        5500
Eletrônico    2500
Roupas        1400
Name: Vendas, dtype: int64

In [62]:
# Categorias com maior quantidade de vendas
df.sort_values(by='Vendas', ascending=False).head(3)

  Produto   Categoria  Vendas  Lucro
6       A      Comida    3000    800
7       B      Comida    1500    350
0       A  Eletrônico    1200    300

In [64]:
# Soma de lucro por produto
df.groupby('Produto')['Lucro'].sum()

Produto
A    1350
B     540
C     360
Name: Lucro, dtype: int64

In [75]:
# Produtos que menos venderam
df.sort_values(by='Vendas', ascending=True).head(3)

  Produto   Categoria  Vendas  Lucro
4       B      Roupas     200     40
5       C      Roupas     300     70
2       C  Eletrônico     500     90

In [76]:
# Produtos com menos vendas
df.sort_values(by='Vendas').head(3)

edge = df['Vendas'].quantile(0.50)
df.loc[df['Vendas'] > edge]

  Produto   Categoria  Vendas  Lucro
0       A  Eletrônico    1200    300
6       A      Comida    3000    800
7       B      Comida    1500    350
8       C      Comida    1000    200

**Insights**

Categoria que mais vende? **Comida**

Produto que mais vende? **Produto A**

Onde estão os "outliers" das vendas? **Concentrados na categoria Comida, pois ultrapassa R$ 3.000,00**

Quais produtos precisam de atenção? **Produtos B e C; setores Roupas e Eletrônico respectivamente**